In [22]:
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [23]:
food_cost=pd.read_excel('Data_Train.xlsx')
food_cost

,TITLE,RESTAURANT_ID,CUISINES,CITY,LOCALITY,RATING,Votes,COST
0,CASUALDINING,9438,MalwaniandGoanandNorthIndian,Thane,DombivaliEast,3.6,49.0,1200
1,CASUALDININGandBAR,13198,AsianandModernIndianandJapanese,Chennai,Ramapuram,4.2,30.0,1500
2,CASUALDINING,10915,NorthIndianandChineseandBiryaniandHyderabadi,Chennai,Saligramam,3.8,221.0,800
3,QUICKBITES,6346,TibetanandChinese,Mumbai,BandraWest,4.1,24.0,800
4,DESSERTPARLOR,15387,Desserts,Mumbai,LowerParel,3.8,165.0,300
...,...,...,...,...,...,...,...,...
12685,QUICKBITES,13228,NorthIndianandBurgerandKebab,Hyderabad,Gachibowli,3.8,546.0,500
12686,CASUALDININGandBAR,9686,GoanandContinental,Mumbai,BandraKurlaComplex,4.3,1214.0,1800
12687,LOUNGE,11133,FingerFoodandContinentalandAsianandChinese,NaviMumbai,Vashi,4.0,608.0,1300
12688,CASUALDINING,6134,NorthIndianandSouthIndianandChineseandStreetFood,Chennai,Maduravoyal,3.5,32.0,400
12689,CASUALDINING,6430,NorthIndianandChinese,Hyderabad,Vanasthalipuram,3.4,677.0,600

In [24]:
food_cost.shape

(12690, 8)

In [25]:
food_cost.drop(['CITY'],axis=1,inplace=True)
food_cost.drop(['LOCALITY'],axis=1,inplace=True)

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
TITLE=le.fit_transform(food_cost['TITLE'])
CUISINES=le.fit_transform(food_cost['CUISINES'])



food_cost['TITLE']=TITLE
food_cost['CUISINES']=CUISINES

In [27]:
food_cost.isna().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
RATING            497
Votes            1204
COST                0
dtype: int64

In [29]:
food_cost.dropna(inplace=True)

In [30]:
food_cost.shape

(11486, 6)

In [31]:
food_cost

       TITLE  RESTAURANT_ID  CUISINES RATING   Votes  COST
0         31           9438      2627    3.6    49.0  1200
1         33          13198       289    4.2    30.0  1500
2         31          10915      2976    3.8   221.0   800
3         95           6346      4130    4.1    24.0   800
4         50          15387      1766    3.8   165.0   300
...      ...            ...       ...    ...     ...   ...
12685     95          13228      2934    3.8   546.0   500
12686     33           9686      2143    4.3  1214.0  1800
12687     71          11133      2088    4.0   608.0  1300
12688     31           6134      3506    3.5    32.0   400
12689     31           6430      2946    3.4   677.0   600

[11486 rows x 6 columns]

In [32]:
x=food_cost.iloc[:,0:5]
x

       TITLE  RESTAURANT_ID  CUISINES RATING   Votes
0         31           9438      2627    3.6    49.0
1         33          13198       289    4.2    30.0
2         31          10915      2976    3.8   221.0
3         95           6346      4130    4.1    24.0
4         50          15387      1766    3.8   165.0
...      ...            ...       ...    ...     ...
12685     95          13228      2934    3.8   546.0
12686     33           9686      2143    4.3  1214.0
12687     71          11133      2088    4.0   608.0
12688     31           6134      3506    3.5    32.0
12689     31           6430      2946    3.4   677.0

[11486 rows x 5 columns]

In [34]:
y=food_cost.iloc[:,5:6]
y

       COST
0      1200
1      1500
2       800
3       800
4       300
...     ...
12685   500
12686  1800
12687  1300
12688   400
12689   600

[11486 rows x 1 columns]

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.33,random_state=45)

In [36]:
x_train.shape

(7695, 5)

In [37]:
y_train.shape

(7695, 1)

In [38]:
x_test.shape

(3791, 5)

In [39]:
y_test.shape

(3791, 1)

In [40]:
lr=LinearRegression()
lr.fit(x_train,y_train)
pred=lr.predict(x_test)
print(pred)
print("score: ",lr.score(x_train,y_train))
print('Mean absolute error: ',mean_absolute_error(y_test,pred))
print('Mean squared error:  ',mean_squared_error(y_test,pred))
print('Root mean squared error: ',np.sqrt(mean_squared_error(y_test,pred)))
print('r2score: ',r2_score(y_test,pred))

[[ 767.67061981]
 [ 337.05324785]
 [ 961.91626257]
 ...
 [ 492.75408656]
 [ 853.48528052]
 [1046.3027053 ]]
score:  0.17144626485889602
Mean absolute error:  345.27287291415234
Mean squared error:   351433.3885967796
Root mean squared error:  592.8181749885707
r2score:  0.17139725114833082

In [41]:
from sklearn.linear_model import Lasso,Ridge
ls=Lasso(alpha=0.01)
ls.fit(x_train,y_train)
ls.score(x_train,y_train)

0.17144626333780477

In [42]:
rd=Ridge(alpha=0.01)              
rd.fit(x_train,y_train)
rd.score(x_train,y_train)

0.1714462648553533

In [43]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=10,random_state=45)
rf.fit(x_train,y_train)
rf.score(x_train,y_train)

0.932231847669228

In [45]:
#random forest regressor has more score than other models

In [46]:
from sklearn.externals import joblib
joblib.dump(rf,'rffile.obj')
rf_joblib=joblib.load('rffile.obj')
predict=rf_joblib.predict(x_test)
print(predict)

[ 560.  360. 1240. ...  445. 1150. 1130.]